.div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divAnimes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(158.4px, 158.4px));
    gap: 1.5rem;
    text-align: center;
}


.divAnimes img{
    border-radius:6px ;
}

.botao{
    cursor: pointer;
    margin: 0;
    transition: ease-in-out all .3s;
}

.botao:hover{
    transform: scale(1.1, 1.1); 
}


.divAnimes a{
    color: black;
}

.divAnimes p{
    margin: 0;
}

@media (max-width: 622px){
    .divAnimes{
        grid-template-columns: repeat(auto-fill, minmax(135px, 135px));
    }
    .divAnimes img{
        max-width: 135px;
        max-height:222px;
    }    
}

@media (max-width: 389px){
    .divAnimes{
        grid-template-columns: repeat(auto-fill, minmax(126px, 126px));
    }
    .divAnimes img{
        max-width: 126px;
        max-height:207px;
    }    
    .divAnimes p{
       font-size: 14px;
    }
}

@media (max-width: 280px){
    .divAnimes{
        grid-template-columns: repeat(auto-fill, minmax(80px, 80px));
    }
    .divAnimes img{
        max-width: 80px;
        max-height:137px;
    }    
    .divAnimes p{
       font-size: 14px;
    }
}

